 
<form (ngSubmit)="onFormSubmit()" >
   
  <div class="form-group">
  
 <input type="username" placeholder="username" class="form-control" formControlname="username">

</div>
  
 <div class="form-groups">
 
 <input type="password" placeholder="password" class="form-control" formControlname="passwordc">
 </div> 
 <br>

 <div class="Remember">
  <input class="check" type="checkbox" placeholder="Remember me" >
  <label class="">Remember Me </label>
  <img class="img" src="https://www.shutterstock.com/image-vector/envelope-icon-vector-260nw-768672523.jpg" >
  <label>Forget Password</label>
</div><br>

 <button class="btn-btn-primary">Login</button>
 
 </form> 

 

 




  
  
  
  
  
  
  
  
  
  
  <!-- <form >
  
    <div>
      <i class="fa fa-user icon">
      <input class="input-field" type="text" placeholder="Username" name="username" required></i>
    </div>
  <br>
   
    
    <div>
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Password" name="password" required>
    </div>
    <br>
  
    <button type="submit" background-color="btn-btn-primary">Login</button>
  
  
  
  </form> -->
  
  
  
  
  








<!-- <p>login works!</p>
<div>
    <table>
        <tr>
        <th>Slno</th>
        <th>Hotel</th>
        <th>Arrival</th>
        <th>Type</th>
        <th>Guests</th>
        <th>Price</th>
        <th>Manage</th>
        </tr>
        <tr * ngFor="Let items of data">
            <td>{{items.Slno}}</td>
            <td>{{items.Hotel}}</td>
            <td>{{items.Arrival}}</td>
            <td>{{items.Type}}</td>
            <td>{{items.Guests}}</td>
            <td>{{items.Price}}</td>
            <td>{{items.Manage}}</td>
            <td><button click="Editdata(item)">Edit</button>|<button click="Deltedata(item)">Delete</button></td>
        </tr>
    
    </table>
    </div> -->