<!-- <form (ngSubmit)="myProfile" > -->
    
<form>
    <div>
            <i class="bi bi-arrow-left"></i>
            <svg xmlns="http://www.w3.org/2000/svg"   width="30px"  height="25px" margin-left="10px" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            <h1 class="my">My Profile
       </h1>
    
   </div>
 <div class="form-group">
    
    <label for="Name">Name&emsp;</label>
    <input type="text" class="form-control"><br>

    <label for="ContactNO">Contact Number</label>
    <input type="mobilenumber" class="form-control"><br>

    <label for="FirmName">FirmName</label>
    <input type="text" class="form-control"><br>

    <label for="Address">Address</label>
    <input type="text" class="form-control"><br>

    <label for="TinNo">Tin No</label>
    <input type="Tinnumber" class="form-control"><br>

    <label for="PANNo">PAN No</label>
    <input type="number" class="form-control"><br>

    <label for="Bankcode">Bank IFSC Code</label>
    <input type="text" class="form-control"><br>

    <label for="BankNo">Bank Account Number</label>
    <input type="number" class="form-control">

 </div>
</form>