.logout{
    margin-left: 1000px;
    border-radius: 10px;
   
}
.me-5{
    background-color: blueviolet;
}
.ret{
    background-color:green;
    margin-left:750px;
}
.search{
     background-color:pink; 
    margin-left:300px;
}
.reservation{

margin-left:30px;
}