
  .close{
    margin-left: 550px;
    margin-top: 10px;
    background-color: red;
    
      }
      label{
        margin-left: 10px;
      }
      .cancelClass{
    margin-left: 590px;
    background-color: red;
      }
     
    